/*-----------------------------*\


Copyright @samarth 2024



/*-------------------------------*/



/*-------------------------*\
# CUSTOM VARIABLE CSS
\*-------------------------*/
:root{
    
/* ## Colors */

/* ### Background color */

--bg-dark-purple: #160b2d;
--bg-russian-violet: hsla(259, 61%, 14%, 1);
--bg-vivid-violet: hsla(273, 100%, 55%, 1);
--bg-sunglow: hsla(43, 100%, 61%, 1);
--bg-blue-jeans: hsla(202, 100%, 50%, 1);
--bg-white-alpha-10: hsla(0, 0%, 100%, 0.1);

--hero-bg : hsl(232, 100%, 13%) ;


/* ### Text color */

--text-white: hsla(0, 0%, 100%, 1);
--text-black: hsla(0, 0%, 0%, 1);
--text-sunglow: hsla(43, 100%, 61%, 1);
--text-white-alpha-60: hsla(0, 0%, 100%, 0.6);


/* ### Border color */


--border-blue-jeans: hsla(202, 100%, 50%, 1);
--border-white-alpha-10: hsla(0, 0%, 100%, 0.1);


/* ## Typography */

--fontFamily-open-sans: 'Open Sans', sans-serif;

--fontSize-1: 4rem;
--fontSize-2: 3.2rem;
--fontSize-3: 2.4rem;
--fontSize-4: 2rem;
--fontSize-5: 1.8rem;
--fontSize-6: 1.6rem;
--fontSize-7: 1.4rem;

--weight-regular: 400;
--weight-medium: 500;
--weight-semiBold: 600;
--weight-bold: 700;

/* ## Spacing */


--section-spacing: 100px;

/* ## Shadow */


--shadow-1: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.1));
--shadow-2: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.2));

/* ## Border Radius */

--radius-24: 24px;
--radius-40: 40px;
--radius-pill: 500px;

/* ## Transition */

--transition-1: 250ms ease;
--transition-2: 500ms ease;
--cubic-out: cubic-bezier(0, 1, 0.5, 1);
--global-transition : all 0.5s ease-in-out ;

}


/*-------------------------*\
# RESET
\*-------------------------*/
* ,
*::before ,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a { text-decoration: none; }

li { list-style: none; }

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

a ,
li ,
span ,
button ,
input ,textarea {
    display: block;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

html ,
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    height: 2px;
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background-color: var(--bg-white-alpha-10);
  
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--bg-white-alpha-10);
    border: 2px solid var(--white);
    border-radius: 50px;
}

/*-------------------------*\
# REUSED STYLES
\*-------------------------*/
.container{
    padding-inline: 1rem;
}

.sec-subtext{
    font-size: 1.2rem;
}

.sec-title {
    font-size: 2.8rem;
    font-weight: 777;
    letter-spacing: 1px;
}

.sec-subtitle{
    
}

.sec-secn-title{
    font-size: 2rem;
    font-weight: 400;
    font-family: "Outfit" , sans-serif;
    margin-left: 0.9rem;
    color: #000;
}

/*-------------------------*\
# HEADER
\*-------------------------*/
.header {
    position: fixed ;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    /* background-color: var(--hero-bg); */
    /* background-color: var(--text-black); */
    background: #fff;
    display: flex;
    /* align-items: center; */
    padding-block-start: 2rem;
    justify-content: space-between;
    padding-inline: 1.5rem;
    transition: var(--global-transition);
    z-index: 1111;
}


.navbar .navlist {
    display: none;
    transition: var(--global-transition);
}

.header.active {
    height: 100vh;
    width: 100%;
    transition: var(--global-transition);
    /* pointer-events: none; */
    z-index: 1000;
}

.header.active .navlist {
    display: block;
    position: absolute ;
    top: 20%;
    left: 8%;
}

.navlist .navlink {
    color: var(--text-black);
    font-size: 1.4rem;
    margin-block-start: 2rem;
    transition: var(--global-transition);
    /* font-weight: 555; */
}

.navlist .navlink:is(:hover , :focus , :focus-visible){
   color: var(--bg-blue-jeans);
}

.logo span {
    font-size: 1.8rem;
    font-weight: 666;
    font-family: "Open Sans", sans-serif;
    color: var(--text-black);
}

.logo span strong {
    color: var(--bg-blue-jeans);
    font-size: 2rem;
}

.menu-btn {
    font-size: 2rem;
    font-weight: 555;
    color: var(--text-black);
    
}

.menu-open-btn { 
    display: block;
}

.menu-close-btn {
    display: none;
}

.header.active .menu-open-btn {
    display: none;
}

.header.active .menu-close-btn {
    display: block;
}


/*-------------------------*\
# HERO 
\*-------------------------*/
.image-wrapper{
  /* padding-block-start: 10rem; */
}

.image-wrapper figure img{
    height: 500px;
    width: 350px;
    object-fit: cover;
    object-position: top;
    /* border-radius: 50%; */
    /* padding-inline: 1rem; */
    margin: 0 auto;
    display: block;
    border-radius: 6px;
}

.hero{
    padding-block-start: 8rem;
    padding-block-end: 7rem;
    background: var(--bg-white-alpha-10);
}

.text-wrapper {
    padding-inline: 1rem;
    margin-block-start: 2rem;
}


.profession-links {
    margin-block-start: 1rem;

    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.profession-links ion-icon {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1.8rem;
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 0.2px;
    /* padding: 0.4rem 0.7rem; */
    /* background: var(--bg-blue-jeans); */

    margin: 0.3rem 0rem;
    margin-block-end: 1.4rem;
    /* background: linear-gradient(to right , var(--bg-blue-jeans) , var(--bg-dark-purple)); */
    color: var(--text-black);
    font-size: 1.4rem;
    font-weight: normal;
    transition: var(--global-transition);
    /* transition: all  1s linear ; */
    /* text-align: center; */

    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
}

.profession-links .sec-subtitle ion-icon { font-size: 1.9;}

ion-icon {
    transition: var(--global-transition);
}

:is(.profession-links .sec-subtitle):is(:hover , :focus , :focus-visible) a ion-icon{
    color: var(--bg-blue-jeans);
}

:is(.profession-links .sec-subtitle):is(:hover , :focus , :focus-visible) ion-icon {
    /* transform: translateX(3px) */
}

.sec-text b {
    color: var(--bg-blue-jeans);
}

.btn-down-wrapper {
    margin-block-start: 1.4rem;
}

.btn {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin: 0.4rem 0;
    border-radius: 3px;
    font-size: 1rem;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn ion-icon {
    font-size: 1.3rem;
}

.btn-prime {
    background: var(--bg-blue-jeans);
    /* background: #000; */
    color: var(--text-white);
}

/* .btn-down-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
} */

/*-------------------------*\
# ABOUT 
\*-------------------------*/

.about{
    padding-block-start: 7rem;
    padding-block-end: 7rem;
    background: #ddd;
}

.about-text{
    font-size: 1.2rem;
    font-family: "Outfit" , sans-serif;
    margin-left: 0.9rem;
    margin-block-start: 1rem;
    color: var(--bg-dark-purple);
}

.minor-title{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1.5rem 0.9rem;
    font-family: "Poppins" , sans-serif;
}

.project{
    max-width: 500px;
    /* border: 3px solid var(--bg-blue-jeans); */
    background: var(--bg-dark-purple);
    margin: 2rem auto ;
    border-radius: 10px;
    overflow: hidden;

}

.project-img-wrapper figure img {
    margin-block-start: 1rem;
    /* border-radius: 10px; */
    height: 200px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    margin: 1rem auto;
    display: block;
    border-radius: 10px;
}

.project-img-wrapper{
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}

/* .overlay { display: ;} */

.tags-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 2rem;   
}

.tags-wrapper p {
    color: var(--text-white);
    font-family: "Outfit" , sans-serif;
}

.tags-wrapper ion-icon {
    color: var(--bg-blue-jeans);
    font-size: 20px;
}

.project-name {
    color: var(--text-white);
    font-size: 1.5rem;
    text-align: center;
    margin-block: 1rem;
    font-family: "Outfit" , sans-serif;
}

.overlay {
    z-index: 999;
    /* background: var(--bg-blue-jeans); */

    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;


    height: 190px;
    width: 300px;
    position: absolute ;
    top: 8%;
    left: 0%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: var(--global-transition);
}

.content-wrapper .skillsets {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.overlay .skillsets ion-icon{
    color:var(--bg-blue-jeans);
    z-index: 1000;
    font-size: 1.6rem;
}

:is(.project):is(:hover , :focus , :focus-visible) .overlay {
  transform: translateX(0%);
}

.btn-seeMore {
    color: var(--bg-blue-jeans);
    border: 2px solid var(--bg-blue-jeans);
    padding: 0.6rem 1.6rem;
    border-radius: 50px;
    margin: 0rem auto;
    transition: var(--global-transition);
}

.btn-seeMore:hover{
    color: var(--text-white);
    background: purple;
    border: 2px solid var(--text-white);
}


/*-------------------------*\
# SERVICES
\*-------------------------*/
.services{
    margin-block-start: 3rem;
    margin-block-end: 5rem;
}   

.tech-wrapper{
    margin-block-start: 2rem;
    /* margin-block-end: 5rem; */
    margin-inline-start: 2rem;
}

.tech-wrapper .tech-text {
    font-size: 1.3rem;
    font-weight: 666;
}

.tech-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tech-icons ion-icon {
    font-size: 1.5rem;
    margin-block-start: 1rem;
}

.tech-icons ion-icon:nth-child(1){
    color: orangered;
}

.tech-icons ion-icon:nth-child(2){
    color: blue;
}

.tech-icons ion-icon:nth-child(3){
    color: rgba(255, 196, 0, 0.918);
}

.tech-icons ion-icon:nth-child(4){
    color: aqua;
}

.tech-icons ion-icon:nth-child(5){
    color: red;
}

.two ion-icon:nth-child(1){
    color: green;
}

.two ion-icon:nth-child(2){
    color: rgba(2, 0, 128, 0.918);
}

.two ion-icon:nth-child(3){
    color: red;
}

.three ion-icon:nth-child(1){
    color: rgb(250, 6, 156);
}

.four ion-icon:nth-child(1){
    color: rgb(3, 3, 3);
}

.four ion-icon:nth-child(2){
    color: rgb(235, 212, 5);
}

/*-------------------------*\
# CONTACT
\*-------------------------*/
.contact{
    padding-block-start: 7rem;
    padding-block-end: 7rem;
    background: #FAF5ED;
}

.contact-title{
    font-size: 2rem;
    font-weight: 400;
    font-family: "Outfit" , sans-serif;
    margin-left: 0.9rem;
    color: #000;
}

.input-wrapper{
    margin-block: 3rem;
}

.input-wrapper .input {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  border-radius: 3px;
  transition: var(--global-transition);
}

.input-wrapper .input:is(:hover , :focus , :focus-visible , :active){
    border: 1px solid var(--bg-blue-jeans);
    transform: translateY(-3px);
}

.input-wrapper .t-area {
    resize: vertical;
    height: 60px;
    /* padding: 1rem; */
    width: 320px;
}

.input-wrapper .submit-btn {
    padding: 0.6rem 1rem;
    margin-inline-start : 1rem;
    background: var(--bg-white-alpha-10);
    color: var(--bg-blue-jeans);
    border: 2px solid var(--bg-blue-jeans);
    outline: none;
    border-radius: 50px;
    display: flex;
    font-size: 1rem;
    align-items: center;
    gap: 0.5rem;
    transition: var(--global-transition);
}

.submit-btn ion-icon {
    /* transform: rotate(90deg); */
    font-size: 1rem;
    transition: var(--global-transition);
}

:is(.input-wrapper .submit-btn):is(:hover , :focus , :focus-visible) {
    /* background: var(--bg-vivid-violet); */
    border: 2px solid var(--bg-dark-purple);
    color: var(--bg-dark-purple);
}

:is(.input-wrapper .submit-btn):is(:hover , :focus , :focus-visible) ion-icon{
    transform: rotate(90deg);
}


/*-------------------------*\
# CONTACT - II
\*-------------------------*/
.upper-content-input {
    margin-block-start: 1rem;
}

.upper-content-input p {
    margin-inline: 1rem;
    color: #574545;
    font-size: 1.3rem;
    font-family: "Outfit" , sans-serif;
}

.contact-item{
    display: flex;
    align-items: center;
    margin-block-start: 2rem;
    margin-inline: 1rem;
    gap: 0.7rem;
}

.contact-item address {
    font-style: normal;
}

.contact-item ion-icon {
    color: var(--bg-blue-jeans);
    font-size: 1.3rem;
}

/*-------------------------*\
# TESTIMONIAL ( CURRENTLY UNAVAILABLE )
\*-------------------------*/
.testinomial{
    padding-block-start: 1rem;
    background: #D7EDFF;
    padding-block-end: 1rem;
}


.testinomial .test-wrapper {
    /* margin: 4rem 0; */
    margin-block-start: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    background: #C9C4C0;

    width: 360px;
    margin: 2rem auto;
    border-radius: 6px;
    overflow: hidden;
    height: 100px;
}

.img-hold{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.text-mol p{
    max-width: 300px;
    font-style: italic;
    font-size: 0.8rem;
}

.text-mol p b {
    font-size: 1rem;
    margin-block-start: 1rem;
}

/*-------------------------*\
# FOOTER
\*-------------------------*/
.footer {
    background: #2D3748;
}

.upper-footer .copy {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    justify-content: center;
    padding-top: 2rem;
    color: #9395A6;
    font-family: "Outfit" , sans-serif;
    font-size: 1rem;
}

.copy a {
    color: var(--text-white-alpha-60);
    font-size: 1rem;
    text-decoration: underline;
    font-family: var(--fontFamily-open-sans);
}

.at-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    padding-block: 1rem;
}
.at-footer a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.at-footer a ion-icon {
    color: var(--bg-blue-jeans);
    font-size: 1rem;
    display: flex;
}